#icons-section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10%;
  height: 30vh;
  width: 100vw;
  background-color: #fafafa;
}

#icons-section-container > h2 {
  width: 100%;
  height: 35px;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 200;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  letter-spacing: 2.14px;
  text-transform: uppercase;
  color: #000000;
}

#icons {
  width: 50vw;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
