#quick-filters-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.quick-filter {
  box-sizing: border-box;
  padding: 10px;
  align-content: center;
}

.quick-filter:focus {
  font-weight: 500;
}
